<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
    <div class="container">
        <div th:replace="fragments.html :: top"></div>
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <div th:replace="fragments.html :: settings-menu(currentMenu='majors')"></div>
            </div>
            <div class="col-8">
                <div class="row">
                    <h2 class="col-12">학과</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info" role="alert">
                            학과를 입력해주세요.<br/>
                            전시회 등록시 학과별 전시가 분류됩니다.
                        </div>
                        <div id="whitelist" th:text="${whitelist}" hidden></div>
                        <input id="majors" type="text" name="majors" th:value="${#strings.listJoin(majors, ',')}"
                               class="tagify-outside" aria-describedby="tagHelp"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="fragments.html :: ajax-csrf-header"></script>
    <script th:replace="fragments.html :: update-majors(baseUrl='/settings/majors')"></script>
</body>
</html>